@font-face {
  font-family: scientific;
  src: url(ScientificCalculatorLcdRegular-Kn7X.ttf);
}

@font-face {
  font-family: "ds_digital";
  src: url(/DS-DIGIT.TTF) format("truetype");
}


body {
  box-sizing: border-box;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


.calculator {

  display: flex;
  flex-direction: column;
  background-color: white;
  width: 400px;
  height: 410px;
  border: 2em;
  border-color: #4c596d;
  border-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);


}

.display-container {
  color: #ffffdf;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 100px;
  background-color: rgb(133,147,140);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 1px 1px 10px rgb(14, 25, 25) inset;

}

#display {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 2rem;
  font-family: "ds_digital";

  overflow-x: auto;
  border: none;
  background-color: transparent;
}

#line1 {
  padding-right: 0.25em;
  color: black;
  font-size: 0.7em;
  font-family: "scientific";
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

#line2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 2rem;
  font-family: "ds_digital";
  width: 90%;
  overflow-x: auto;
  border: none;
  background-color: transparent;
  padding-right: 0.25em;
}

.operator {
  font-size: 1.5rem;
  color: rgb(249,249,237);

  background-color: #4c596d;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  padding: 20px;
  background-color: rgb(44,48,51)

}

button {
  background-color: #ced1d7;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 2em;
}

button:hover {
  filter: brightness(94%);
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.85);
  
}

.calculate {
  background-color: rgb(113,112,134);
  color: white;
  grid-column: span 2;
  
}

.clear, .delete{
  background-color: #8a4a78;
}