body {
  box-sizing: border-box;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


.calculator {

  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 400px;
  height: 410px;
  border-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);


}

#display {
  color: #ffffdf;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgb(41, 26, 26);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
}

button:hover {
  filter: brightness(94%);
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.85);
}